$body-font: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Helvetica Neue",
  "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN",
  "Source Han Sans SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$mono-font: "Cascadia Code", "SF Mono", "Fira Code", "Consolas", $body-font;
$title-font: "Product Sans", $body-font;
$body-font-size: 12px;

$border-radius:  0px;  // for code

$light-color-primary: #ffbb00;
$light-color-secondary: #d4008d;
$light-color-focus: #810056;
$light-color-mute: #9ea1a3;
$light-color-font: #c0c0c0;
$light-color-divider: #4d5158;
$light-color-bg: #2f3136;
$light-color-codebg: #414449;

$dark-color-primary: #000000;
$dark-color-secondary: #327e96;
$dark-color-focus: #53caee;
$dark-color-mute: #9ea1a3;
$dark-color-font: #383838;
$dark-color-divider: #3b97b3;
$dark-color-bg: #eeeeee;
$dark-color-codebg: #899396;
